<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>New credit offer</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <a class="nav-link" href="/">Главная</a>
                <a class="nav-link" href="/bank/">Банк</a>
                <a class="nav-link" href="/clients/">Клиенты</a>
                <a class="nav-link" href="/credits/">Кредиты</a>
                <a class="nav-link active" href="/bank/new">Оформить кредит</a>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <h3>Детали кредита</h3>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Клиент</th>
        <th>Паспорт</th>
        <th>Лимит по кредиту</th>
        <th>Срок кредита (месяцев)</th>
        <th>Процентная ставка</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text = "${creditOffer.client.lastName} + ' ' + ${creditOffer.client.firstName} + ' ' + ${creditOffer.client.middleName}"></td>
        <td th:text = "${creditOffer.client.passport}"></td>
        <td th:text = "${creditOffer.credit.creditLimit}"></td>
        <td th:text = "${creditOffer.creditLength}"></td>
        <td th:text = "${creditOffer.credit.interestRate}"></td>
    </tr>
    </tbody>
</table>
    <h3 th:text="${name}"></h3>
    <hr>
    <p>
    <div class="card">
        <div class="card-body">
    <form th:method="post" th:action="@{/credit-offers/{path}(path = ${path})}" th:object="${creditOffer}">
        <input type="hidden" th:field = "*{id}" id="id">
        <input type="hidden" th:field = "*{client}" id="client">
        <input type="hidden" th:field = "*{credit}" id="credit">
        <div class="mb-3">
            <label for="creditAmount" class="form-label">Сумма кредита: </label>
            <input th:type="number" th:max = "${creditOffer.credit.creditLimit}" class="form-control" th:field = "*{creditAmount}" id = "creditAmount" area-describedby="creditAmountHelpBlock"/>
            <div style="color: red" th:if="${#fields.hasErrors('creditAmount')}" th:errors="*{creditAmount}">Name error</div>
            <div id="nameHelpBlock" class="form-text">
                Введите сумму кредита. Сумма должна быть меньше или равна лимиту по выбранному кредиту.
            </div>
            <br/>
        </div>
        <div class="mb-3">
            <label for="creditLength" class="form-label">Срок кредита: </label>
            <input type="number" max="240" class="form-control" th:field = "*{creditLength}" id = "creditLength" area-describedby="creditLengthHelpBlock"/>
            <div style="color: red" th:if="${#fields.hasErrors('creditLength')}" th:errors="*{creditLength}">Name error</div>
            <div id="creditLengthHelpBlock" class="form-text">
                Введите срок кредита.
            </div>
            <br/>
        </div>
        <input type="submit" class="btn btn-primary" value="Оформить"/>
    </form>
        </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</body>
</html>